@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
    html {
	font-size: 10px;
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
}
a {
	text-decoration: none;
}
.bg-video {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /*background-color: black;*/
	/*opacity: 0.7;*/
    z-index: -1; /* Stay behind all content */
}

/* Header Section Styling */
#header .container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;

}

#header .nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 1300px;
	/*padding: 0 20px;*/
}

#header .brand h1 {
  font-size: 3rem; /* Adjust the size to match the design */
  font-weight: 700;
  color: #fff;
  /*{#margin: 0;#}*/
  margin-right:0px;

     font-family:Lucida Handwriting;
}

#header .brand h1 span {
  color: #FF0000; /* The color of the spans to make them red */
}

#header .nav-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

#header .nav-list ul a {
	font-size: 1.8rem;
	letter-spacing: 0.2rem;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	padding: 20px;
	display: block;
}
#header .nav-list ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.8rem;
  transition: color 0.2s;
    font-family: 'Montserrat', sans-serif;
}

#header .nav-list ul li a:hover {
  color: #FF0000;
}

/* Responsive design adjustments, if necessary */
@media (max-width: 768px) {
  #header .nav-bar {
    flex-direction: column;
  }

  #header .nav-list {
    width: 100%;
  }

  #header .nav-list ul {
    flex-direction: column;
    align-items: center;
  }

  #header .nav-list ul li {
    padding: 10px 0;
  }
}

/* Fixed Header */
#header {
  position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
    background-color: #29323c;
	width: 100%;
}

/* Add padding at the top of the body to avoid overlap with the fixed header */
body {
  padding-top: 80px; /* Adjust if your header's actual height is different */
}







.feedbackcontainer {
    width: 70%; /* Slightly increased width */
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Making it transparent with white color */
    border-radius: 20px; /* More pronounced rounded corners */
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2); /* Box shadow for depth */
}
h2 {
    text-align: center;
    color: #333; /* Dark text color */
}
form {
    max-width: 600px; /* A bit wider to accommodate larger form elements */
    margin: 0 auto;
}
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555; /* Medium gray text color */
}
input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 15px; /* Increased padding for a bigger form element */
    margin-bottom: 20px; /* Increased spacing */
    border: 1px solid #ccc;
    border-radius: 10px; /* Rounded edges for input fields and textarea */
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.5); /* Making input fields slightly transparent */
}
button[type="submit"] {
    background-color: crimson; /* Blue submit button */
    color: white;
    padding: 15px 20px; /* Increased padding */
    border: none;
    border-radius: 10px; /* Rounded edges for button */
    cursor: pointer;
    width: 100%;
    font-size: 18px; /* Increased font size for better readability */
}
button[type="submit"]:hover {
    background-color: crimson; /* Darker blue on hover */
}
