@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
    html {
	font-size: 10px;
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
}
a {
	text-decoration: none;
}
.bg-video {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /*background-color: black;*/
	/*opacity: 0.7;*/
    z-index: -1; /* Stay behind all content */
}

/* Header Section Styling */
#header .container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;

}

#header .nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 1300px;
	/*padding: 0 20px;*/
}

#header .brand h1 {
  font-size: 3rem; /* Adjust the size to match the design */
  font-weight: 700;
  color: #fff;
  /*{#margin: 0;#}*/
  margin-right:0px;

     font-family:Lucida Handwriting;
}

#header .brand h1 span {
  color: #FF0000; /* The color of the spans to make them red */
}

#header .nav-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

#header .nav-list ul a {
	font-size: 1.8rem;
	letter-spacing: 0.2rem;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	padding: 20px;
	display: block;
}
#header .nav-list ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.8rem;
  transition: color 0.2s;
    font-family: 'Montserrat', sans-serif;
}

#header .nav-list ul li a:hover {
  color: #FF0000;
}

/* Responsive design adjustments, if necessary */
@media (max-width: 768px) {
  #header .nav-bar {
    flex-direction: column;
  }

  #header .nav-list {
    width: 100%;
  }

  #header .nav-list ul {
    flex-direction: column;
    align-items: center;
  }

  #header .nav-list ul li {
    padding: 10px 0;
  }
}

/* Fixed Header */
#header {
  position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;

	width: 100%;
}

/* Add padding at the top of the body to avoid overlap with the fixed header */
body {
  padding-top: 80px; /* Adjust if your header's actual height is different */
}



.infocontainer {
    position:relative; /* Set the position to relative */
    z-index: 1; /* Set a higher z-index to ensure it appears above other elements */
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    /*height: 100vh;*/
    padding-bottom: 400px;
     flex-direction: row;

    }
      h1 {
    color: crimson;
    /*margin-bottom: 70px;*/
          font-size: 25px;
          text-transform:uppercase;
    align-items: center;
    width: 100%; /* Updated to full width */
    margin: 0 auto;
    padding: 10px;
    text-align: center;
}


    .image-container {
    position: relative; /* Set the position to relative */
    z-index: 2; /* Set a higher z-index */
    margin-top:40px;
    margin-left: 10px;
    width: 45%;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    font-size: 15px;
    text-align: center;
}

    h1,
    h2,
    p {
        margin: 0; /* Remove default margin to control spacing more precisely */
    }

    ul {
        margin-top: 0.5em; /* Adjust spacing above unordered lists */
        padding-left: 1em; /* Indent list items */
    }

    li {
        margin-bottom: 0.5em; /* Add spacing between list items */
    }

    img {
        max-width: 100%; /* Adjusted max-width for better responsiveness */
        height: auto;
        border-radius: 5px; /* Rounded corners for the images */
    }

    .btn {
        background-color: crimson; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: block; /* Make the button a block-level element */
        font-size: 16px;
        margin: 20px auto; /* Center the button horizontally with top margin */
        cursor: pointer;
        border-radius: 8px;
        width: 100%; /* Make the button fill the container width */
        max-width: 200px; /* Limit button width */
    }

    .btn:hover {
        background-color: crimson; /* Darker green */
    }

    .result-container {
    position:relative; /* Set the position to relative */
    z-index: 1000; /* Set a higher z-index */
    margin-left: 10px;
    margin-right: 10px;
    margin-top:40px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    font-size: 16px;
    text-align: left;

    }
.container{
    padding-bottom: 60px;
}


