{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'OrchardGuard/styling.css' %}">
  <title>My Website</title>
</head>

<body>

<!-- Header -->
  <section id="header">
    <div class="header container">
      <div class="nav-bar">
        <div class="brand">
          <a href="#hero">
            <h1><span>O</span>rchard <span>G</span>Uard</h1>
          </a>
        </div>

        <div class="nav-list">
          <div class="hamburger">
            <div class="bar"></div>
          </div>
          <ul>
            <li><a href="{% url 'homepage' %}">Home</a></li>
            <li><a href="#services" data-after="Service">About Us</a></li>
            <li><a href="#contact" data-after="Projects">Contact us</a></li>
            <li><a href="{% url 'upload_and_predict' %}">Predict</a></li>
               <li><a href="{% url 'infohub' %}">Infohub</a></li>
{#             <li><a href="{% url 'login' %}">Get Started</a></li>#}
               {%block sidebar%} <li><a href="{% url 'logout' %}">Logout</a></li>{% endblock %}
        {% block sidelink%}  <li><a href="{% url 'login' %}">Get Started</a></li>{% endblock %}
{#            <li><a href="vinsha_login.html" >Login</a></li>#}


                      </ul>
        </div>
      </div>
    </div>
  </section>



  <!-- End Header -->

{% block content %}
{% endblock %}
  <!-- Hero Section  -->


  <section id="hero">
<video id="hero-video" autoplay muted loop>
  <source src="{% static 'OrchardGuard/videos/home.mp4' %}" type="video/mp4">
  <!-- Add additional source elements for other video formats if needed -->
  Your browser does not support the video tag.
</video>

  </section>

  <!-- End Hero Section  -->



  <!-- Footer -->
  <section id="footer">
    <div class="footer container">
      <div class="brand">
        <h1><span>O</span>rchard <span>G</span>uard</h1>
      </div>
      <h2>Your Complete Web Solution</h2>
      <!-- <div class="social-icon">
        <div class="social-item">
          <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/facebook-new.png" /></a>
        </div>
        <div class="social-item">
          <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/instagram-new.png" /></a>
        </div>
        <div class="social-item">
          <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/twitter.png" /></a>
        </div>
        <div class="social-item">
          <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/behance.png" /></a>
        </div>
      </div> -->
      <p>Copyright © 2020 OrchardGuard. All rights reserved</p>
    </div>
  </section>
  <!-- End Footer -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
  // Hide dropdown menu initially
  $(".dropdown-menu").hide();

  // Toggle dropdown menu on click of "Infohub" link
  $(".dropdown-toggle").click(function() {
    $(this).next(".dropdown-menu").slideToggle();
  });
});
</script>

  <script >
      const hamburger = document.querySelector('.header .nav-bar .nav-list .hamburger');
const mobile_menu = document.querySelector('.header .nav-bar .nav-list ul');
const menu_item = document.querySelectorAll('.header .nav-bar .nav-list ul li a');
const header = document.querySelector('.header.container');

hamburger.addEventListener('click', () => {
	hamburger.classList.toggle('active');
	mobile_menu.classList.toggle('active');
});

document.addEventListener('scroll', () => {
	var scroll_position = window.scrollY;
	if (scroll_position > 250) {
		header.style.backgroundColor = '#29323c';
	} else {
		header.style.backgroundColor = 'transparent';
	}
});

menu_item.forEach((item) => {
	item.addEventListener('click', () => {
		hamburger.classList.toggle('active');
		mobile_menu.classList.toggle('active');
	});
});
</script>
</body>

</html>