{% extends 'OrchardGuard/base.html' %}
{% load static %}

{% block extra_head %}
    <title>Disease Prediction</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-+0n0xVW2eSR5Zgb2q9WrMuuMSwUx6j7U3DBQk5rVjNExlSMXQz/i5XyJ2c5IQF5k" crossorigin="anonymous"></script>
    <link rel="stylesheet" href={% static 'OrchardGuard/feedback.css' %}>


{% endblock %}
{% block content %}


 <section id="header">
    <div class="header container">
      <div class="nav-bar">
        <div class="brand">
          <a href="#hero">
            <h1><span>O</span>rchard <span>G</span>Uard</h1>
          </a>
        </div>

        <div class="nav-list">
          <div class="hamburger">
            <div class="bar"></div>
          </div>
          <ul>
            <li><a href="{% url 'homepage' %}" >Home</a></li>
            <li><a href="{% url 'homepage' %}" >About Us</a></li>
{#              <li><a href="homepage.html #services" data-after="Service">About Us</a></li>#}
            <li><a href="{% url 'homepage' %}" >Contact us</a></li>
            <li><a href="{% url 'upload_and_predict' %}">Predict</a></li>
               <li><a href="{% url 'infohub' %}">Infohub</a></li>
             <li><a href="{% url 'logout' %}">Logout</a></li>
{#            <li><a href="vinsha_login.html" >Login</a></li>#}


                      </ul>
        </div>
      </div>
    </div>
  </section>

<!-- Rest of your content -->

<video autoplay muted loop class="bg-video">
    <source src="{% static 'OrchardGuard/videos/home.mp4' %}" type="video/mp4">
    Your browser does not support HTML5 video.
</video>

{% block sidebar %}{% endblock %}

    <div class="feedbackcontainer">
        <h2>Feedback Form</h2>
        <form method="post" action="{% url 'homepage' %}"> <!-- Replace '/submit_feedback/' with your form submission URL -->
            {% csrf_token %}
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
            <label for="message">Message:</label>
            <textarea id="message" name="message" required></textarea>
            <button type="submit">Submit Feedback</button>
        </form>
    </div>

{% endblock %}