{% extends "OrchardGuard/common.html" %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'OrchardGuard/regstyle.css' %}">
    <title>Forgot Password</title>
</head>
<body>
{% block sidebar %}{% endblock %}
    <!-- Keep the video background if it's part of the design for the forgot password page -->
    <video id="hero-video" autoplay muted loop>
        <source src="{% static 'OrchardGuard/videos/home.mp4' %}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
<div class="wrapper">
    <div class="form-box">
        <!-- New forgot password form integrated with the existing page design -->
        <form method="post" action="{% url 'forgot_password' %}" class="login-container" id="forgot-password">
            {% csrf_token %}
            <div class="top">
                <header>Forgot Password</header>
            </div>
            <div class="input-box">
                <input type="email" name="email" id="email" class="input-field" placeholder="Enter your email" required>
                <i class="bx bx-envelope"></i>
            </div>
            <div class="input-box">
                <input type="submit" class="submit" value="Send Reset Link">
            </div>
            {% if messages %}
            <div class="alert">
                {% for message in messages %}
                <p>{{ message }}</p>
                {% endfor %}
            </div>
            {% endif %}
            <div class="two-col">
                <div class="one">
                    <span>Remember your account? <a href="{% url 'login' %}">Sign In</a></span>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    // Your existing JavaScript code here
</script>
</body>
</html>
{% endblock %}
