
{% extends 'OrchardGuard/base.html' %}
{% load static %}

{% block extra_head %}
    <title>Disease Prediction</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-+0n0xVW2eSR5Zgb2q9WrMuuMSwUx6j7U3DBQk5rVjNExlSMXQz/i5XyJ2c5IQF5k" crossorigin="anonymous"></script>
    <link rel="stylesheet" href={% static 'OrchardGuard/predict.css' %}>
{% endblock %}
{% block content %}
  <section id="header">
    <div class="header container">
      <div class="nav-bar">
        <div class="brand">
          <a href="#hero">
            <h1><span>O</span>rchard <span>G</span>Uard</h1>
          </a>
        </div>

        <div class="nav-list">
          <div class="hamburger">
            <div class="bar"></div>
          </div>
          <ul>
            <li><a href="{% url 'homepage' %}" >Home</a></li>
            <li><a href="{% url 'homepage' %}" data-after="Service">About Us</a></li>
            <li><a href="{% url 'homepage' %}" data-after="Projects">Contact us</a></li>
            <li><a href="{% url 'upload_and_predict' %}">Predict</a></li>
               <li><a href="{% url 'infohub' %}">Infohub</a></li>
             <li><a href="{% url 'logout' %}">Logout</a></li>
{#            <li><a href="vinsha_login.html" >Login</a></li>#}


                      </ul>
        </div>
      </div>
    </div>
  </section>


<!-- Rest of your content -->

<video autoplay muted loop class="bg-video">
    <source src="{% static 'OrchardGuard/videos/home.mp4' %}" type="video/mp4">
    Your browser does not support HTML5 video.
</video>

    <h1>Disease Prediction</h1>

<div class="infocontainer">
        <div class="image-container" id="imageContainer">
            <h2>Upload Image for Recognition</h2>
            <form id="uploadForm" enctype="multipart/form-data">
                {% csrf_token %}
                <p>Select an image of apple leaves or fruit:</p>
                <input type="file" id="fileInput" name="image_file" accept="image/*" capture="camera" required>
{#                <label for="fileInput" class="btn"></label>#}
                <button type="submit" class="btn">Predict</button>
            </form>
            <div id="preview-container">
                <div id="preview"></div>
            </div>
        </div>
         <div class="result-container" id="resultContainer" style="display: none;">
           <div class="info-container" id="disease-info-container"></div>
            <div class="disease-info" id="disease-info"></div> <!-- Disease information container -->
         </div>
    </div>
    </div>


    <script>
          document.getElementById('uploadForm').addEventListener('submit', function(e) {
        e.preventDefault(); // Prevent the default form submission
        const formData = new FormData(this);
        const xhr = new XMLHttpRequest();
        xhr.open('POST', '{% url 'upload_and_predict' %}', true); // Adjust the URL as needed
        xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
            xhr.onload = function() {
        if (xhr.status === 200) {
            // Parse the JSON response
            const response = JSON.parse(xhr.responseText);
            let content = '';
            if (response.class === 'Apple_Scab') {
                content = `
                    <h2>Disease Information</h2>
                    <p><strong>Disease Name:</strong> Apple Scab</p>
                    <p><strong>Reason:</strong> Apple scab, caused by the fungus Venturia inaequalis, is a serious fungal disease of apple in Ontario infecting
                     foliage, blossoms, and fruits. Severely infected trees become defoliated and infected fruit are not marketable. Apple scab also attacks
                     flowering crab apples, mountain ash, and firethorn.</p>
                    <p><strong>Preventive measures:</strong> <br>
<ul>
    <li><strong>Resistant Varieties:</strong> Choose and plant apple varieties that are resistant to cedar-apple rust. Resistance varies among different apple cultivars, so selecting the right variety is crucial.</li>
    <li><strong>Remove Alternate Hosts:</strong> Eliminate cedar and other juniper plants within a certain radius (usually about a mile) of apple trees to break the life cycle of the fungus. If removal is not possible, plant resistant juniper varieties that are less likely to harbor the rust fungus.</li>
    <li><strong>Pruning and Sanitation:</strong> Prune apple trees to improve air circulation and sunlight penetration throughout the canopy, which can help reduce humidity and the conditions that favor rust development. Clean up and dispose of infected leaves and branches properly.</li>
    <li><strong>Fungicide Applications:</strong> Apply fungicides during the spring, especially before rain when the orange rust spores are likely to be released. Fungicide applications should be timed based on the development stage of the apple trees and the appearance of rust galls on junipers.</li>
    <li><strong>Regular Monitoring:</strong> Inspect both junipers and apple trees regularly for signs of cedar-apple rust. Early detection allows for timely management actions to prevent the spread of the disease.</li>
    <li><strong>Proper Irrigation:</strong> Water apple trees at the soil level to avoid wetting the leaves, which can help prevent the spread of rust spores. Avoid overhead irrigation that can splash spores onto apple foliage.</li>
    <li><strong>Optimal Planting and Spacing:</strong> Ensure that apple trees are planted with adequate spacing to promote good air circulation, which helps to reduce leaf wetness and the risk of infection.</li>
    <li><strong>Mulching and Soil Health:</strong> Apply mulch around the base of apple trees to help maintain soil moisture and overall tree health, which can improve the tree's resistance to various stresses, including rust.</li>
</ul>


</p>
                `;
            }
            else if (response.class === 'Cedar_Apple_Rust'){
                content = `
                    <h2>Disease Information</h2>
                    <p><strong>Disease Name:</strong> Cedar Apple Rust</p>
                    <p><strong>Reason:</strong> Cedar-apple rust is a common plant disease caused by the fungal pathogen Gymnosporangium juniperi-virginianae.
                    It infects members of the Rosaceae and Cupressaceae families, primarily apple, crabapple, eastern redcedar, and other juniper species.</p>
                    <p><strong>Preventive measures:</strong> <br>
                    <ul>
                        <li><strong>Resistant Varieties:</strong> Plant apple varieties that are resistant or less susceptible to apple scab. This is one of the most effective ways to prevent the disease.</li>
                        <li><strong>Pruning and Sanitation:</strong> Regularly prune your apple trees to improve air circulation and remove any dead or diseased branches. Clean up fallen leaves and fruit, which can harbor the fungus over winter.</li>
                        <li><strong>Proper Spacing:</strong> Plant apple trees with enough space between them to ensure good air circulation, reducing humidity and the risk of infection.</li>
                        <li><strong>Fungicide Applications:</strong> Apply fungicides preventatively, especially during the early stages of leaf development and before rainy periods, to protect trees from apple scab. Be sure to follow local guidelines and use products approved for use on apple trees.</li>
                        <li><strong>Irrigation Practices:</strong> Water apple trees at the base to avoid wetting the leaves. Overhead watering can spread the fungus and increase the risk of infection.</li>
                        <li><strong>Improved Drainage:</strong> Ensure that your orchard or garden has good drainage. Waterlogged soil can contribute to the severity of apple scab infections.</li>
                        <li><strong>Monitoring and Early Detection:</strong> Regularly inspect your apple trees for signs of apple scab and apply appropriate treatments promptly to prevent the spread of the disease.</li>
                        <li><strong>Crop Rotation and Diversity:</strong> If possible, avoid planting apple trees in the same location where scab-susceptible plants have been grown recently. Introducing biodiversity can also help manage pests and diseases.</li>
</ul>
</p>


`;
            }
            else if (response.class === 'Powdery_mildew'){
                content = `
                    <h2>Disease Information</h2>
                    <p><strong>Disease Name:</strong>Powdery Mildew</p>
                    <p><strong>Reason:</strong> <br> Powdery mildew, mainly caused by the fungus Podosphaera xanthii, infects all cucurbits, including muskmelons,
                    squash, cucumbers, gourds, watermelons and pumpkins. Powdery mildew infections favor humid conditions with temperatures around 68-81° F.
                    In warm, dry conditions, new spores form and easily spread the disease. </p>
                    <p><strong>Preventive Measures:</strong> <br>
                    <ul>
                        <li><strong>Resistant Varieties: </strong>Plant apple varieties that are resistant or less susceptible to powdery mildew.</li>
                        <li><strong>Pruning and Training: </strong>Regularly prune and train trees to improve air circulation and reduce humidity, making the environment less
                        favorable for powdery mildew.</li>
                        <li><strong>Proper Planting and Spacing: </strong>Ensure trees are planted at the appropriate spacing to reduce humidity and increase air flow among
                        the plants.</li>
                        <li><strong>Optimal Fertilization: </strong>Avoid excessive nitrogen fertilization and use balanced fertilizers based on soil test results to promote
                        healthy growth without encouraging susceptible new growth.</li>
                        <li><strong>Fungicide Applications:</strong> Apply fungicides preventively, especially in regions where powdery mildew is a persistent problem,
                        according to local extension guidelines and when conditions favor disease development.</li>
                        <li><strong>Sanitation: </strong>Remove and destroy any infected leaves, shoots, or fruit, and clean up fallen leaves and debris around the trees in the
                        fall.</li>
                        <li><strong>Monitoring: </strong>Regularly inspect apple trees for signs of powdery mildew and manage the spread of the disease through early detection.</li>
                        <li><strong>Microclimate Management: </strong>Manage the orchard's microclimate to reduce humidity levels through site selection, irrigation management,
                        and other cultural practices.</li>
                    </ul>
                    </p>
                    `;
            }
            else {
                // Handle other predictions or provide a default message
                content = `<h2>Prediction</h2>
                            <p>The uploaded image shows that you're plant is ${response.class}</p>`;
            }
              const diseaseInfoContainer = document.getElementById('resultContainer');
               resultContainer.innerHTML = content;
            resultContainer.style.display = 'block'; // Show the info container
            } else {
                // Handle errors or unsuccessful responses
                const diseaseInfoContainer = document.getElementById('resultContainer');
                 resultContainer.innerHTML = '<p>Failed to get prediction from FastAPI.</p>';
            resultContainer.style.display = 'block';
            }
        };

        xhr.send(formData); // Send the form data
    });
const fileInput = document.getElementById('fileInput');
const previewContainer = document.getElementById('preview-container');
const preview = document.getElementById('preview');
const imageContainer = document.getElementById('imageContainer');
const resultContainer = document.getElementById('resultContainer'); // Correct ID for the result container

fileInput.addEventListener('change', function() {
    const file = this.files[0];
    if (file) {
        const reader = new FileReader();
        reader.onload = function() {
            const img = new Image();
            img.src = reader.result;
            preview.innerHTML = '';
            preview.appendChild(img);
            previewContainer.style.display = 'block';
            imageContainer.style.width = '20%'; // Adjust according to your preference
        };
        reader.readAsDataURL(file);
    }
});
    </script>

{% endblock %}